<% include ../partials/header %>
<h6 class="text-center">WELCOME <small><%= user.email %></small></h6>
<div >
  <h1 class="mt-5 display-4 text-center">Products</h1>
</div>
<div class="container mt-5 d-flex" id="products">
</div>
<script>
  window.addEventListener('load', function (e) {
    const productScriptElement = document.createElement('script')
    productScriptElement.setAttribute('src', 'http://localhost:3000/static/js/products.js')
    productScriptElement.setAttribute('type', 'text/javascript')
    document.body.appendChild(productScriptElement)
    const adminScriptElement = document.createElement('script')
    adminScriptElement.setAttribute('src', 'http://localhost:3000/static/js/admin.js')
    adminScriptElement.setAttribute('type', 'text/javascript')
    document.body.appendChild(adminScriptElement)
  })
</script>
<% include ../partials/footer %>